/* My second attempt at modular CSS using SMACSS and Grid CSS */

/* Base */
*{
	box-sizing: border-box;
	font-family: helvetica, Arial;
}

html {
	background: 
		linear-gradient(
			rgba(0, 0, 0, 0.7), 
			rgba(0, 0, 0, 0.7)
		), 
		url('city.jpg')
		no-repeat;
 	background-size: cover;
}
html, body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	margin: 0;
	padding: 0;
	list-style: none;
}

a, a:link, a:hover, a:active, a:visited{
	text-decoration: none;
}

/* Layout */
.l-body{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 80px auto 0;
}
.l-header{
	display: grid;
	grid-template-columns: max-content auto;
}

.l-main{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	align-items: center;
	justify-items: center;
}

/*Modules*/
.logo{
	display: grid;
	align-items: center;
	margin-left: 30px;
	color: white;
	text-shadow: 2px 2px black;
}


.nav_bar{
	display: grid;
	justify-items: end;
}
.nav_bar ul{
	display: grid;
	grid-template-columns: repeat(4,max-content);
}
.nav_bar li{
	display: grid;
}
.nav_bar a{
	display: grid;
	align-items: center;
	justify-items: center;
	color: white;
	text-shadow: 2px 2px black;
	padding: 0 20px 0 20px;	
}
.nav_bar a:hover{
	background-color: #303C6C;
}


.profile_box{
	display: grid;
	height: 300px;
	width: 300px;
	grid-template-columns: 100%;
	grid-template-rows: 70% 15% 15%;
	justify-items: center;
	align-items: center;
}
.profile_box img{
	border-radius: 50%;
	border: 3px solid white;
	height: 95%;
}
.profile_box .caption{
	color: white;
	text-shadow: 2px 2px black;
}
.profile_box a{
	color: white;
	text-shadow: 2px 2px black;
	padding: 10px 20px;
	border: 2px solid white;
}
.profile_box a:hover{
	background-color: #303C6C;
}

/* Media query */
@media (max-width: 768px){
	.l-header {
		grid-template-columns: auto;
		grid-template-rows: 80px;
	}

	.logo{ display: none; }

	.nav_bar{
		justify-items: center;
	}
}
