/* Mobile first approach */

/* Base */
*{
	box-sizing: border-box;
	font-family: Helvetica, Arial;
	font-size: 100%;
}

html{
	background: 
		linear-gradient(
			rgba(0, 0, 0, 0.7), 
			rgba(0, 0, 0, 0.7)
		), 
		url('city.jpg')
		no-repeat;
 	background-size: cover;
}
html, body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

ul{
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}

figure{
	margin: 0;
	padding: 0;
}

a{
 text-decoration: none;
}


/* Layout */
.l-body{
	display: grid;
	grid-template-columns: 100fr;
	grid-template-rows: 80px 100fr;
	grid-template-areas: "l-header"
						 "l-main";
}

.l-header{
	grid-area: l-header;
	display: grid;
	width: 100%;
}

.l-main{
	grid-area: l-main;
	display: grid;
	width: 100%;
	align-items: center;
	justify-items: center;
}


/* Modules */
.logo{
	display: none;	
}

.nav_bar{
	display: grid;
	width: 100%;
}
.nav_bar ul{
	display: grid;
	width: 100%;
	grid-template-columns: repeat(4, 1fr);
}
.nav_bar li{
	display: grid;
}
.nav_bar a{
	display: grid;
	align-items: center;
	justify-items: center;
	color: white;
	text-shadow: 2px 2px black;
}
.nav_bar a:hover{
	background-color: #303C6C;
}

.profile_box{
	display: grid;
	height: 250px;
	width: 300px;
	align-items: center;
	justify-items: center;
	grid-template-columns: 100fr;
	grid-template-rows: 80fr 20fr;
	grid-template-areas: "figure"
						 "links";
}
.profile_box figure{
	grid-area: figure;
	display: grid;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-items: center;
	grid-template-columns: 100fr;
	grid-template-rows: 75fr 25fr;
}
.profile_box img{
	display: grid;
	align-self: center;
	height: 98%; 
 	border-radius: 50%;
	border: 3px solid white;
}
.profile_box figcaption{
	color: white;
	text-shadow: 2px 2px black;
}
.profile_box nav{
	display: flex;
}
.profile_box a{
	color: white;
	text-shadow: 2px 2px black;
	padding: 10px 20px;
	margin: 0 5px;
	border: 2px solid white;
}
.profile_box a:hover{
	background-color: #303C6C;
}

/* Media Queries */
@media (min-width: 768px){
	.l-header{
		grid-template-columns: max-content 500px;
		grid-template-areas: "logo nav_bar";
		justify-content: space-between;
	}

	.logo{
		grid-area: logo;
		display: grid;
		height: 100%;
		align-items: center;
		padding: 0 30px 0 30px;
		color: white;
		text-shadow: 2px 2px black;
		background-color: black;
	}

	.nav_bar{
		grid-area: nav_bar;
	}

	.profile_box{
		height: 300px;
		width: 300px;
	}

}