/* My first attempt at modular css using SMACSS */

/* Base */
*{
	box-sizing: border-box;
	font-family: helvetica, Arial;
}

html, body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
html {
	background: 
		linear-gradient(
			rgba(0, 0, 0, 0.7), 
			rgba(0, 0, 0, 0.7)
		), 
		url('city.jpg')
		no-repeat;
 	background-size: cover;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	margin: 0;
	padding: 0;
	list-style: none;
}

a, a:link, a:hover, a:active, a:visited{
	text-decoration: none;
}

/* Layout */
.l-header{
	flex: 0 0 80px;
	width: 100%;
}
.l-header .logo{
	padding: 0 0 0 40px;
}

.l-main{
	flex: 1 0 auto;
}

.l-central_container{
	height: 300px;
	width: 300px;
}
.l-central_container .image{
	height: 70%;
}
.l-central_container .caption{
	margin-top: 20px;
}
.l-central_container .links--container{
	margin-top: 30px;
}

/*Modules*/
.flex{
	display: flex;
}
.flex--column{
	flex-direction: column;
}
.flex--justify_center_content{
	justify-content: center;
}
.flex--justify_center_items{
	justify-items: center;
}
.flex--cross_stretch_items{
	align-items: stretch;
}
.flex--cross_center_items{
	align-items: center;
}
.flex--cross_stretch_self{
	align-self:stretch; 
}
.flex--cross_center_self{
	align-self: center;
}
.flex--list li{
	display: flex;
}
.flex--links_center a{
	display: flex;
	align-items: center;
}


.left{
	margin-right: auto; 
}
.right{
	margin-left: auto;
}
.center{
	margin: auto;
}

.logo{
	color: white;
	text-shadow: 2px 2px black;
}

.image--round{
	border-radius: 50%;
}
.image--border{
	border: 3px solid white;
}

.caption{
	color: white;
	text-shadow: 2px 2px black;
}

.links{
	color: white;
	text-shadow: 2px 2px black;
	padding: 0 20px 0 20px;
}
.links:hover{
	background-color: #303C6C;
}
.links--border{
	padding: 10px 20px;
	border: 2px solid white;
}